* {
  margin: 0;
  padding: 10px;
}

body {
  background-color: white;
}

.logo {
  flex-direction: column;
  display: inline-block;
  margin-top: 25px;
}

.container {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  box-shadow: 1px 2px 2px 2px rgb(0, 0, 0);
}

.login {
  display: inline-block;
  font: bold 30px helvetica;
  text-decoration: underline;
}

.email,
.password {
  font: normal 15px verdana;
}

input[type="email"],
input[type="password"] {
  width: 90%;
}

#signin {
  background-color: #F6C66D;
  font: bold 15px verdana;
  width: 92%;
  margin-top: 20px;
}

#signin:hover {
  background-color: #E0B207;
}
