.cal{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.textt{
    margin-left: 250px;
    margin-right: 100px;
    margin-top: 250px;
    margin-bottom: 100px;
}